.dnte {
    color: #0089FF;
}

.donate-wrapper {
    width: 800px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flexbox;
    justify-content: center;
    margin-top: 50px;
}

.honor-system {
    color: #000000;
    font-weight: 600;
    font-size: 45px;
}

.hnr-desc {
    font-size: 18px;
    opacity: 60%;
}

.donate-input {
    display: flex;
    background-color: #00000008;
    width: 900px;
    height: 500px;
    justify-content: space-evenly;
    border-radius: 8px;
    box-shadow: #0000001e 2px 2px 10px 2px;
}

.donate-input-wrap {
    margin-top: 30px;
    width: 400px;
    height: 100%;
    display: block;

}
.donate-confirm-wrap {
    margin-top: 30px;
    width: 400px;
    height: 100%;

}

.input-icons {
    background-color: white;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    border: 2px solid black;
    
}
.icon {
    color: rgb(35, 255, 35);
    margin-top: 10px;
    margin-left: 10px;
    font-size: 16px;
}
.input-donate {
    text-align: center;
    padding: 12px 6px;
    outline: none;
    border: none;
    
}

.break {
    flex-basis: 100%;
    height: 0;
  }

.break {
}

.donate-btn {
 background-color: #0089FF;
 outline: none;
 border: none;
 padding: 10px 40px;
 color: white;
 font-size: 15px;
 border-radius: 10px;
 transition: 300ms ease;
}

.donate-btn:hover {
    background-color: #0089FF;
}

.more-dnte_desc {
    opacity: 50%;
}

.lern-dnte {
    opacity: 50%;
    color: #000000;
    font-size: 17px;
    transition: 300ms ease-in-out;
}

.lern-dnte:hover {
    text-decoration: underline;
    color: #0089FF;
}

.donate-btn2 {
    background-image: linear-gradient(rgb(237, 157, 70), rgb(241, 152, 28));
    border: none;
    color: white;
    outline: none;
    padding: 20px 100px;
    border-radius: 10px;
    font-size: 15px;
    transition: 300ms ease;
    text-shadow: white;

}

.donate-btn2:hover {
    background-image: linear-gradient(rgb(237, 157, 70), rgb(192, 112, 0));
    border: none;
    color: white;
    outline: none;
    padding: 20px 100px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;

}

.donate-btn3 {
    background-image: linear-gradient(rgb(45, 73, 255), rgb(55, 13, 204));
    border: none;
    color: white;
    outline: none;
    padding: 20px 94px;
    border-radius: 10px;
    font-size: 15px;
    transition: 300ms ease;
    
}
.donate-btn3:hover {
    background-image: linear-gradient(rgb(45, 73, 255), rgb(121, 84, 255));
    border: none;
    color: white;
    outline: none;
    padding: 20px 94px;
    border-radius: 10px;
    font-size: 15px;
    
}

.input-icons2 {
    width: 80%;
    height: 2px;
    border-radius: 50px;
    border: #0089FF 2px solid;
    margin-left: auto;
    margin-right: auto;
    
}

.donate-info-desc {
    opacity: 70%;
}

.or {
    opacity: 50%;
}

.buy-coffee {
    border: none;
    outline: none;
    background-image: linear-gradient(rgb(79, 255, 208), rgb(106, 135, 223));
    color: white;
    border-radius: 10px;
    padding: 20px 67px;
    font-size: 15px;
    transition: 300ms ease;
}

.buy-coffee:hover {
    background-image: linear-gradient(rgb(35, 255, 196), rgb(83, 126, 255));
} 

.modal-popup_donate_bg {
    width: 100%;
    height: 100%;
    position: static;
    background-color: #000000cf;
    z-index: -1;
    
}