.find-nav-wrap {
    background-image: linear-gradient(rgba(117, 195, 255, 0.395), rgba(128, 200, 255, 0.559));
    width: 100%;
    height:80px;
    text-align: center;
}

.find-course-search {
    width: 200px;
    height: 40px;
    border-radius: 8px;
    border: none;
    margin-top:25px;
    outline: none;
}