@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background-image: linear-gradient(#4677ff, #272A7D);
    font-family: League Spartan, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

img {  
    user-drag: none;  
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
 }

/* Nav */
.nav-bar {
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 15px;
    text-decoration: none;
}

a {
    color: white;
    text-decoration: none;
    font-size: 17px;
}

li {
    list-style-type: none;
    word-spacing: 20px;
}

/* Logo */
.fdclogo-main {
    width: 35vh;
}

.Signup-Btn {
    background-color: rgba(255, 222, 173, 0);
    border: 2px solid #3AC8FF;
    color: white;
    padding: 11px 35px;
    border-radius: 25px;
    font-size: 14px;
    transition: 300ms ease;
}
.Signup-Btn:hover {
    background-color: #3AC8FF;
}

.Login-Btn {
    background-color: #15bdff;
    border: none;
    color: white;
    padding: 11px 35px;
    border: 2px solid #15bdff;
    border-radius: 25px;
    font-size: 14px;
    transition: 300ms ease;
}
.Login-Btn:hover {
    background-color: #5ad0ff;
    border: none;
    color: white;
    padding: 11px 35px;
    border: 2px solid #5ad0ff;
    border-radius: 25px;
    font-size: 14px;
}

/* MainText-Wrap */

.mainbody {
    display: flex;
    width: 1400px;
    margin-left: auto;
    margin-right: auto;

}
.MainText-Wrap {
    color: white;
    width: 800px;
    margin: 20px;
}

.wct-fdc_desc {
    font-size: 24px;
    font-weight: 300;
    line-height: 27px;
}

.wct-fdc {
    width: 600px;
    font-weight: 600;
    font-size: 40px;
}

.swigly-line {
    width: 40%;
    margin-left: 70px;
}

.illus {
    width: 65%;
    padding-left: px;
    animation: wobble 4s ;
}

.gs-btn {
    background-image:-webkit-linear-gradient(rgba(96, 191, 255, 0.196), rgba(111, 178, 255, 0.388));
    padding: 15px 30px;
    text-align: center;
    border-radius: 8px;
    animation: wobble 3s;
    transition: 400ms ease;
}
.gs-btn:hover {
    background-image:-webkit-linear-gradient(rgba(47, 172, 255, 0.196), rgba(99, 172, 255, 0.388));
    padding: 15px 30px;
    text-align: center;
    border-radius: 8px;
    animation: wobble 3s;
}

/* What We Provide Wrapper */
.WWP-wrap {
    background-color: #ffffff32;
    width: 90%;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    

}

.WWP-value-wrapper{
    color: white;
    width: 80vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.wwp {
    font-weight: 600;
    text-align: center;
    color: white;
}

.wwp-desc {
    font-weight: 300;
    font-size: 20px;
    opacity: 50%;
    width: ;
}

.reason-wrapper {
    display: flex;
    width: 90vw;
    height: 36vw;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
    
}

.sqr-box {
    background-color: #ffffff29;
    width: 25vw;
    height: 34vw;
    border-radius:8px;
    

}

.sqr-box:hover {
    
} 

.sqr-box-2 {
    background-color: #ffffff29;
    width: 25vw;
    height: 34vw;
    border-radius:8px;
    

}

.sqr-box-3 {
    background-color: #ffffff29;
    width: 25vw;
    height: 34vw;
    border-radius:8px;
    

}

.video-icon {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50%;
}

.paint-icon {
    width: 33%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50%;
}

.video-resc-desc {
    color: white;
    text-align: center;
}

.docs-icon {
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50%;
}

.btn-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}
.Convinced-btn {
    background-image: linear-gradient(rgba(130, 201, 255, 0.203),rgba(130, 183, 223, 0.338));
    border: none;
    color: white;
    border-radius: 4px;
    height: 50px;
    width: 250px;
    padding: 21px 150px;
    margin-left: auto;
    margin-right: auto;
    transition: 300ms ease;
    
}
.Convinced-btn:hover {
    background-image: linear-gradient(rgba(78, 178, 255, 0.203),rgba(128, 200, 255, 0.338));
    border: none;
    color: white;
    border-radius: 4px;
    height: 50px;
    width: 250px;
    padding: 21px 150px;
    margin-left: auto;
    margin-right: auto;
    
}
/* Keyframes */

@keyframes wobble {
    0% { transform: translateX(0%); } 
    15% { transform: translateX(-25%) rotate(-5deg); } 
    30% { transform: translateX(20%) rotate(3deg); } 
    45% { transform: translateX(-15%) rotate(-3deg); } 
    60% { transform: translateX(10%) rotate(2deg); }
    75% { transform: translateX(-5%) rotate(-1deg); }
    100% { transform: translateX(0%); } 
}

.footer {
    width: 100%;
    height: 300px;
    background-image: linear-gradient(#4F6CFF,#22577C);
    display: flex;
}

.footer-sec_wrap {
    margin-top: 50px;
    width: 90vw;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.logo-info-wrap {
    width: 250px;
    height: 150px;
}

.FDC-LOGO_Footer {
    width: 100px;
}

.Inspire {
    color: white;
    font-weight: 400;
    font-size: 40px;
}

.footer-title-wrap {
    width: 10%;
    height: 200px;
    margin-left: 10vw;
    margin-top: 15px;
}

.footer-title-wrap1 {
    width: 10%;
    height: 200px;
    margin-top: 15px;
}
.footer-title-wrap2 {
    width: 13%;
    height: 200px;
    margin-top: 15px;
}

.Footer_title {
    color: white;
    font-weight: 500;
    font-size: 30px;
    transition: 300ms ease;
}


.hyperlink-footer {
    font-weight: 300;
    font-size: 19px;
    transition: 300ms ease;
}

.hyperlink-footer:hover {
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 10px white;
}

.menu {
    display: none;
    transition: 300ms ease;
}

.menu:hover{
    color: #3AC8FF;
    transition: 300ms ease;
    cursor: pointer;
}

.menu-nav {
    display: none;
}

.footer-title-wrap1_mobile {
    width: 10%;
    height: 200px;
    margin-top: 15px;
    display: none;
}

/* Mobile Menu Nav */


.mobile-menuu {
    display: block;
    position: fixed;
    background-color: #3940ff;
    opacity: 70%;
    width: 100%;
    margin-left: auto;
    height: 100%;
    z-index: 1;
    overflow-y: auto;
    display: none;
}

.li-nav_mob {
    display: block;
    text-align: center;
    transition: 300ms ease;
}

.li-nav_mob:hover {
}

.mobile-a {
    font: 4vw sans-serif;
    line-height: 10vw;
    transition: 300ms ease;
}
.mobile-a:hover {
    background-color: #3AC8FF;
}

.exit-nav {
    background-color: #22567c00;
    border: none;
    margin-left: 60vw;
    color: white;
    font-size: 10vw;
}

.hover_nav {
    transition: 300ms ease;
}

.hover_nav:hover {
    width: 100%;
    background-color: #6065ff9f;
}

.menu-logo {
    width: 10vw;
    position: flex;
    display: none;
}

@keyframes slide-left {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
    
}
@media only screen and (max-width: 700px) {
    body {
        background-image: linear-gradient(#d0ddff, #272A7D);
        font-family: League Spartan, sans-serif;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
        
    }

    
    .nav-bar {
        color: white;
        display: flex;
        justify-content: right;
        margin: 15px;
        text-decoration: none;
    }
    
    .nav-bar {
        color: white;
        justify-content: space-between;
        margin: 15px;
        text-decoration: none;
    }

    .li-nav {
        display: none;
    }

    .menu {
        display: flex;
        font-size: 3em;
        color: white;
    }

    .menu-nav {
        display: flex;
        border: none;
        background-color: rgba(255, 0, 0, 0);
    }

    .mainbody {
        display: flex;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    
    }

    .MainText-Wrap {
        color: white;
        text-align: center; 
        margin-left: auto;
        margin-right: auto;
    }

    
.wct-fdc_desc {
    font-size: 4.4vw;
    font-weight: 300;
    text-align: center;
}

.wct-fdc {
    width: 100%;
    font-weight: 600;
    font-size: 10vw;
}

.swigly-line {
    width: 40%;
    margin-left: 70px;
    display: none;
    justify-content: center;
    align-items: center;
}

.illus {
    width: 65%;
    padding-left: px;
    animation: wobble 4s ;
    display: none;
}
/* Convince Wrapper Media */
.WWP-wrap {
    background-color: #ffffff32;
    width: 80vw;
    height: 1450px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    

}

.WWP-value-wrapper{
    color: white;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.wwp {
    font-weight: 600;
    text-align: center;
    color: white;
}

.wwp-desc {
    font-weight: 300;
    font-size: 18px;
    opacity: 50%;
}

.reason-wrapper {
    margin-top: 280px;
    display: flex;
    width: 90%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    align-self: center;
    align-items: center;
    flex-direction: column;

}

.sqr-box {
    background-color: #ffffff29;
    width: 50vw;
    height: 100vw;
    border-radius:8px;
    transition: 500ms ease-in-out;
    

}

.sqr-box:hover {
    
} 

.sqr-box-2 {
    background-color: #ffffff29;
    width: 50vw;
    height: 100vw;
    border-radius:8px;
    

}

.sqr-box-3 {
    background-color: #ffffff29;
    width: 50vw;
    height: 100vw;
    border-radius:8px;
    

}

.video-icon {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50%;
}

.paint-icon {
    width: 33%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50%;
}

.video-resc-desc {
    color: white;
    text-align: center;
    font-weight: 300;
    opacity: 70%;
}

.docs-icon {
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50%;
}

.btn-wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45vw ;
}
.Convinced-btn {
    background-image: linear-gradient(rgba(130, 201, 255, 0.203),rgba(130, 183, 223, 0.338));
    border: none;
    color: white;
    border-radius: 4px;
    height: 50px;
    width: 50px;
    padding: 15px 50px;
    margin-left: auto;
    margin-right: auto;
    transition: 300ms ease;
    
}
.Convinced-btn:hover {
    background-image: linear-gradient(rgba(78, 178, 255, 0.203),rgba(128, 200, 255, 0.338));
    padding: 15px 50px;
    
}

/* Footer */
.footer {
    width: 100%;
    height: 1250px;
    background-image: linear-gradient(#4F6CFF,#22577C);
    display: block;
}

.footer-sec_wrap {
    margin-top: 50px;
    width: 90%;
    height: 850px;
    display: block;
}

.logo-info-wrap {
    width: 200px;
    height: 150px;
}

.FDC-LOGO_Footer {
    width: 100px;
}

.Inspire {
    margin-left: 5vw;
    color: white;
    font-weight: 400;
    font-size: 40px;
}

.footer-title-wrap {
    display: none;
    width: 10%;
    height: 200px;
    margin-top: 15px;
    
}

.footer-title-wrap1 {
    width: 10%;
    height: 100px;
    margin-top: 15px;
}

.footer-title-wrap1_mobile {
    width: 10%;
    height: 200px;
    margin-top: 15px;
    display: inline;
}
.footer-title-wrap2 {
    width: 100%;
    height: 200px;
    margin-top: 15px;
}

.Footer_title {
    color: white;
    font-weight: 500;
    font-size: 30px;
    transition: 300ms ease;
}


.hyperlink-footer {
    font-weight: 300;
    font-size: 19px;
    transition: 300ms ease;
}

.hyperlink-footer:hover {
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 10px white;
}

/* Mobile Menu Nav */


.mobile-menuu {
    display: block;
    position: fixed;
    background-color: #3940ff;
    opacity: 70%;
    width: 100%;
    margin-left: auto;
    height: 100%;
    z-index: 1;
    overflow-y: auto;
    display: none;
    transition: 300ms ease;
    animation: slide-left 1.2s;
    overflow-y: scroll;
}

.li-nav_mob {
    display: block;
    text-align: center;
    transition: 300ms ease;
}

.li-nav_mob:hover {
}

.mobile-a {
    font: 4vw sans-serif;
    line-height: 10vw;
    transition: 300ms ease;
}
.mobile-a:hover {
}

.exit-nav {
    background-color: #22567c00;
    border: none;
    margin-left: 54vw;
    margin-top: 2vw;
    color: white;
    font-size: 9vw;
    transition: 300ms ease;
}

.menu-logo {
    width: 10vw;
    position: flex;
    display: block;
}

.exit-nav:hover {
    color: #39f5ff;
    cursor: pointer;
}

.hover_nav {
    transition: 300ms ease;
}

.hover_nav:hover {
    width: 100%;
    background-color: #6065ff9f;
}


}
